## SEASONALITY
    1. Seasonality is presence of repetitive patterns in the dataset at regular intervals like yearly, monthly or weekly.
    2. For example - Ice cream sales go up every summer and comes down every winter. This trend is seen every year that can hinder the data analysis process.
    3. Seasonality can negatively impact the performance of our machine learning model.
    4. Seasonality can be removed by multiplying every value with a multiplication factor.
    5.Multiplication factor will be different for different intervals like summers and winters.

In [1]:
import pandas as pd

In [2]:
seasonality = {'Year1':[21,31,44,43,32,19],
               'Year2':[23,29,42,45,33,24],
               'Year3':[19,33,46,41,30,20]}

In [3]:
#months = ['Month1','Month2','Month3','Month4','Month5','Month6']
df2 = pd.DataFrame(data=seasonality)

In [4]:
df2

   Year1  Year2  Year3
0     21     23     19
1     31     29     33
2     44     42     46
3     43     45     41
4     32     33     30
5     19     24     20

In [5]:
months = ['Month1','Month2','Month3','Month4','Month5','Month6',]
index = pd.Index(months)
df2 = df2.set_index(index)

In [6]:
df2

        Year1  Year2  Year3
Month1     21     23     19
Month2     31     29     33
Month3     44     42     46
Month4     43     45     41
Month5     32     33     30
Month6     19     24     20

In [7]:
col_mean = round(df2.mean(axis=0),2)
print(col_mean)

Year1    31.67
Year2    32.67
Year3    31.50
dtype: float64

In [8]:
row_mean = round(df2.mean(axis=1),2)
print(row_mean)

Month1    21.00
Month2    31.00
Month3    44.00
Month4    43.00
Month5    31.67
Month6    21.00
dtype: float64

In [9]:
df2['Year1'] = round(df2['Year1']*(col_mean[0]/row_mean),2)
df2['Year2'] = round(df2['Year2']*(col_mean[1]/row_mean),2)
df2['Year3'] = round(df2['Year3']*(col_mean[2]/row_mean),2)

In [10]:
df2.head(6)

        Year1  Year2  Year3
Month1  31.67  35.78  28.50
Month2  31.67  30.56  33.53
Month3  31.67  31.18  32.93
Month4  31.67  34.19  30.03
Month5  32.00  34.04  29.84
Month6  28.65  37.34  30.00